<div id="<%= dom_id location %>">
  <p>
    <strong>Name:</strong>
    <%= location.name %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= location.place %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= location.description %>
  </p>

  <p>
    <strong>Visits:</strong>
    <%= location.visits %>
  </p>

</div>
