<!DOCTYPE html>
<html>
  <head>
    <title>FlushitScaffold</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class= "container">
    <div class = "columnSmall">
      <h2>Flushit</h2>
      <%= link_to 'Home', "/" %>
      </br>
      <%= link_to 'Locations', locations_path %>
    </div>
    <div class = "columnLarge"> 
    <%= yield %>
    </div>
  </body>
</html>
